@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Photos.CreatePhotoModel
@{
    ViewData["Title"] = "Create a Photo";
}
<h1>
    Create a photo
</h1>


<form method="post" enctype="multipart/form-data">
   @*  <div class="form-group">
        <label asp-for="FileName" class="control-label"></label>
        <input asp-for="FileName" class="form-control" />
    </div> *@
    <div class="form-group">
        <label asp-for="FilePath" class="control-label"></label>
        <input asp-for="FilePath" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Pris</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TheDate" class="control-label">Dato</label>
        <input asp-for="TheDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Height" class="control-label">Højde</label>
        <input asp-for="Height" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Width" class="control-label">Bredde</label>
        <input asp-for="Width" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhotoType" class="control-label">Foto type</label>
        <select asp-for="PhotoType" asp-items= "Html.GetEnumSelectList<PhotoType>()" class="form-control"></select>
    </div>

   @*  <div class="form-group">
        <label asp-for="BookingID"> Choose a Booking </label>
        <select asp-for="BookingID" class="form-select">
            <option value=""> Select Booking</option>
            @foreach (Booking b in @Model.BookingList)
            {
                <option value="@b.BookingID">
                    @b.ThePhotographingEvent.SchoolSecretary.TheSchool @b.TheSchoolClass @b.ThePhotographingEvent.Photographer.FirstName @b.ThePhotographingEvent.Photographer.LastName
                </option>
            }
        </select>
    </div> *@

    <div class="form-group">
        <label asp-for="@Model.Photo" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="@Model.Photo" class="custom-file-input form-control" />
            <label class="custom-file-label">Gem Billede</label>
        </div>
    </div>


    <input type="submit" value="Opret Foto" class="btn btn-success" />

    <a asp-page="Index" class=" btn btn-warning">
        Annuller
    </a>



</form>
