@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Schools.CreateSchoolModel
@{
    ViewData["Title"] = "Create school";
}

<h1>Create school</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.NewSchool.Name" class="control-label"></label>
        <input asp-for="@Model.NewSchool.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchool.SchoolType" class="control-label"></label>
        <select asp-for="@Model.NewSchool.SchoolType" asp-items="Html.GetEnumSelectList<SchoolType>()" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchool.StreetName" class="control-label"></label>
        <input asp-for="@Model.NewSchool.StreetName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchool.ZipCode" class="control-label"></label>
        <input asp-for="@Model.NewSchool.ZipCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchool.City" class="control-label"></label>
        <input asp-for="@Model.NewSchool.City" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Create a school" class="btn-primary"/>
    </div> 

    <div>
        <a asp-page="index">Cancel</a>
    </div>

</form>
