@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Schools.IndexModel
@{
    ViewData["Title"] = "Skoler";
}

<h1>Skoler</h1>

<p>
    <a asp-page="CreateSchool"> Opret en ny skole </a>
</p>


<h4>Skolerne i systemet</h4>
<p>Der er @Model.Schools.Count skoler</p>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Skolens navn</th>
                <th>Vej</th>
                <th>Postnummer</th>
                <th>By</th>
                <th>Skoletype</th>
            </tr>
        </thead>
        <tbody>
            @foreach (School item in Model.Schools)
            {
                <tr>
                    <td>@item.SchoolID</td>
                    <td>@item.Name</td>
                    <td>@item.Street</td>
                    <td>@item.ZipCode</td>
                    <td>@item.City</td>
                    <td>@item.SchoolType</td>
                    <td><a asp-page="EditSchool" asp-route-schoolID="@item.SchoolID" >Edit</a> |
                        <a asp-page="DeleteSchool" asp-route-schoolID="@item.SchoolID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

</form>