@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Teachers.IndexModel
@{
    ViewData["Title"] = "Lærer";
}
<h1>
    Liste over lærer
</h1>

<p>
    <a asp-page="CreateTeacher"> Opret en ny lærer </a>
</p>



<form method="get">

    search:
    <input type="text" asp-for="@Model.FilterCriteria" />

    <input type="submit" value="FilterBy" />
    <select asp-for="@Model.FilterBy" class="form-select d-inline-block" style="width:auto; margin-left:8px;">
        <option value="Initials">Initialer</option>
        <option value="FirstName">Fornavn</option>
        <option value="LastName">Efternavn</option>
        <option value="Email">Email</option>
        <option value="PhoneNumber">Telefonnummer</option>

    </select>



    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Initialer</th>
                <th>Email</th>
                <th>Telefonnummer</th>
                <th>Skole navn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Teacher t in Model.TeacherList)
            {
                <tr>
                    <td>@t.ID</td>
                    <td>@t.FirstName</td>
                    <td>@t.LastName</td>
                    <td>@t.Initials</td>
                    <td>@t.Email</td>
                    <td>@t.PhoneNumber</td>
                    <td>@t.TheSchool.Name</td>
                    <td><a asp-page="DeleteTeacher" asp-route-ID="@t.ID" class="btn btn-danger">Slet</a></td>
                    <td><a asp-page="EditTeacher" asp-route-ID="@t.ID" class="btn btn-success">Rediger</a></td>

                </tr>
            }
        </tbody>
    </table>
</form>