@page
@model SkoloFotoExam26.Pages.SchoolSecretaries.CreateSchoolSecretaryModel
@{
}
<h3>Create school ecretary</h3>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.NewSchoolSecretary.FirstName" class="control-label"></label>
        <input asp-for="@Model.NewSchoolSecretary.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchoolSecretary.LastName" class="control-label"></label>
        <input asp-for="@Model.NewSchoolSecretary.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchoolSecretary.Email" class="control-label"></label>
        <input asp-for="@Model.NewSchoolSecretary.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchoolSecretary.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.NewSchoolSecretary.PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewSchoolSecretary.Initials" class="control-label"></label>
        <input asp-for="@Model.NewSchoolSecretary.Initials" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.SchoolID" class="control-label"></label>
        <input asp-for="@Model.SchoolID" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Create a school secretary" class="btn-primary"/>
    </div>
</form>