@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.SchoolSecretaries.CreateSchoolSecretaryModel
@{
    ViewData["Title"] = "Opret skolesekretær";
}
<h3>Opret en skolesekretær</h3>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.FirstName" class="control-label"></label>
        <input asp-for="@Model.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.LastName" class="control-label"></label>
        <input asp-for="@Model.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Initials" class="control-label"></label>
        <input asp-for="@Model.Initials" class="form-control" />
    </div>
@*     <div class="form-group">
        <label asp-for="@Model.SchoolID" class="control-label"></label>
        <input asp-for="@Model.SchoolID" class="form-control" />
    </div> *@
    <div class="form-group">
        <label asp-for="ChosenSchoolID"> Choose a school </label>
        <select asp-for="ChosenSchoolID" class="form-select">
            <option value=""> Select school</option>
            @foreach (School s in @Model.Schools)
            {
                <option value="@s.SchoolID">
                    @s.Name
                </option>
            }
        </select>
    </div>

    <div>
        <input type="hidden" name="UserType" value="SchoolSecretary">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password" class="control-label"></label>
        <input asp-for="@Model.Password" class="form-control" />
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Opret skolesekretæren" class="btn-primary"/>
    </div>

    <div>
        <a asp-page="index">Annuler</a>
    </div>
</form>