@page
@model SkoloFotoExam26.Pages.SchoolSecretaries.DeleteSchoolSecretaryModel
@{
    ViewData["Title"] = "Slet skolesekretær";
}

<h1>Slet skolesekretær</h1>

<form method="post">
    <div class="form-group">
        <label>Sekretærens ID</label> : @Model.SchoolSecretaryToBeDeleted.ID<br>
        <label>Sekretærens fornavn</label> : @Model.SchoolSecretaryToBeDeleted.FirstName<br>
        <label>Sekretærens efternavn</label> : @Model.SchoolSecretaryToBeDeleted.LastName<br>
        <label>Email</label> : @Model.SchoolSecretaryToBeDeleted.Email<br>
        <label>Telefonnummer </label> : @Model.SchoolSecretaryToBeDeleted.PhoneNumber<br>
        <label>Skole </label> : @Model.SchoolSecretaryToBeDeleted.TheSchool.Name<br>
        <input type="submit" value="Slet skolesekretær" asp-route-schoolSecretaryID="@Model.SchoolSecretaryToBeDeleted.ID" class="btn-danger" onclick="return confirm('Er du sikker på at slette skolen?')" />
        <input type="submit" value="Anuller" asp-page-handler="Cancel" class="btn-warning" />
    </div>
</form>