@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.SchoolSecretaries.EditSchoolSecretaryModel
@{
    ViewData["Title"] = "Rediger skolesekretær";
}

<h1>Rediger fotograf</h1>
<form method="post">

    <div class="form-group">
        <label asp-for="@Model.SecretaryToBeUpdated.FirstName" class="control-label"></label>
        <input asp-for="@Model.SecretaryToBeUpdated.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.SecretaryToBeUpdated.LastName" class="control-label"></label>
        <input asp-for="@Model.SecretaryToBeUpdated.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.SecretaryToBeUpdated.Initials" class="control-label"></label>
        <select asp-for="@Model.SecretaryToBeUpdated.Initials" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.SecretaryToBeUpdated.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.SecretaryToBeUpdated.PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.SecretaryToBeUpdated.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.SecretaryToBeUpdated.PhoneNumber" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.SecretaryToBeUpdated.TheSchool" class="control-label"></label>
        <div class="form-group">
            <label asp-for="ChosenSchoolID"> Choose a school </label>
            <select asp-for="ChosenSchoolID" class="form-select">
                <option value=""> Select school</option>
                @foreach (School s in @Model.Schools)
                {
                    <option value="@s.SchoolID">
                        @s.Name
                    </option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Update boat" class="btn-primary" />
        <input type="submit" value="Delete boat" asp-page-handler="Delete" class="btn-danger" />
        <input type="submit" value="Cancel" asp-page-handler="Cancel" class="btn-warning" />
    </div>

</form>