@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.SchoolSecretaries.IndexModel
@{
    ViewData["Title"] = "Sekretærer";
}

<h1>Skolesetærerer</h1>

<p>
    <a asp-page="CreateSchoolSecretary"> Opret en ny skolesekretær </a>
</p>

<h4>Skolesekretærer i systemet</h4>
<p>Der er @Model.Secretaries.Count skolesekretære</p>


<form method="get">
    Search: <input type="text" asp-for="@Model.FilterCriteria" />
    <select asp-for="@Model.FilterBy" class="form-select d-inline-block" style="width:auto; margin-left: 8px;">
        <option value="All">All</option>
        <option value="FirstName">Fornavn</option>
        <option value="LastName">Efternavn</option>
        <option value="PhoneNumber">Telefonnummer</option>
        <option value="Email">Email</option>
        <option value="TheSchoolName">Skole</option>
        <option value="Initials">Initialer</option>
    </select>
    <input type="submit" value="Filtrer" />
</form>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Initialer</th>
                <th>Email</th>
                <th>Telefonnummer</th>
                <th>Skole</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SchoolSecretary item in Model.Secretaries)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Initials</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.TheSchool.Name</td>
                    <td><a asp-page="EditSchoolSecretary" asp-route-schoolSecretaryID="@item.ID" asp-route-schoolID="@item.TheSchool.SchoolID">Rediger</a> |
                        <a asp-page="DeleteSchoolSecretary" asp-route-schoolSecretaryID="@item.ID">Slet</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</form>