@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Parents.IndexModel
@{
    ViewData["Titel"] = "Liste af forældre";
}

<h1>Forælder info</h1>

<div class="form-group mb-3">
    <a class="btn btn-primary" asp-page="CreateParent">Opret Forældreprofil</a>

    @* <a class="btn btn-primary" asp-page="/Students/Create">Tilmeld barn</a> *@

    @* <a class="btn btn-primary" asp-page="/Students/Index">Børn</a> *@
</div>

@*Maybe create a Filter here*@



<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <button type="submit" class="btn btn-link" name="SortBy" value="ForældreID">ID</button>
                <form method="get" style="display:inline;">
                    <button type="submit" class=btn btn-link p-0" name="SortBy" value="ParentID">ID</button>
                </form>
            </th>

            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Email</th>
            <th>Telefonnummer</th>
            <th>By</th>
            <th>PostNummer</th>
            <th>Vejnavn</th>
            <th class="text-center">Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Parent item in @Model.Parents)
        {
            <tr>
                <td>@item.ID</td>
                <td> @item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.City</td>
                <td>@item.ZipCode</td>
                <td>@item.Street</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-info btn-sm" asp-page="/Students/Index" asp-route-ParentID="@item.ID">Se børn</a>
                        <a class="btn btn-outline-info btn-sm" asp-page="UpdateParent" asp-route-ParentID="@item.ID">Rediger forælder</a>
                        <a class="btn btn-outline-info btn-sm" asp-page="DeleteParent" asp-route-ParentID="@item.ID">Slet forælder</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>