@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Photographers.IndexModel
@{
    ViewData["Title"] = "Fotografer";
}

<h1>Fotografer</h1>

<p>
    <a asp-page="CreatePhotographer"> Opret en ny fotograf </a>
</p>

<h2>Fotografer i systemet</h2>
<p>Der er @Model.Photographers.Count fotografer</p>

<form method="get">
    Search: <input type="text" asp-for="@Model.FilterCriteria" />
    <select asp-for="@Model.FilterBy" class="form-select d-inline-block" style="width:auto; margin-left: 8px;">
        <option value="All">All</option>
        <option value="FirstName">Fornavn</option>
        <option value="LastName">Efternavn</option>
        <option value="PhoneNumber">Telefonnummer</option>
        <option value="Email">Email</option>
        @* <option value="Experience">Erfaring</option> *@
        <option value="City">By</option>
    </select>
    <br />
    <input type="submit" value="Filter" />
</form>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Vej</th>
                <th>By</th>
                <th>Postnummer</th>
                <th>Telefonnummer</th>
                <th>Email</th>
                <th>Erfaring</th>
                <th>Radius i km</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Photographer item in Model.Photographers)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Street</td>
                    <td>@item.City</td>
                    <td>@item.ZipCode</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>@item.ExperienceInYears</td>
                    <td>@item.MaxTravelRadiusInKm</td>
                    <td><a asp-page="EditPhotographer" asp-route-PhotographerID="@item.ID">Rediger</a> | <a asp-page="DeletePhotographer" asp-route-PhotographerID="@item.ID">Slet</a> </td>
                </tr>
            }
        </tbody>
    </table>

</form>