@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Bookings.ChooseEventsModel
@{
    ViewData["Title"] = "Vælg Event";
}
<h1>
    vælg event
</h1>

<h2>
    Du kan vælge imellem @Model.EventList.Count events
</h2>

<form method="get">
    <table class="table">
        <th> ID </th>
        <th> Starter </th>
        <th> Ender </th>
        <th> Fotograf </th>
        <tbody>
            @foreach (PhotographingEvent e in @Model.EventList)
            {
                    <tr>
                        <td> @e.PhotographingEventID </td>
                        <td> @e.Start </td>
                        <td> @e.End </td>
                        <td> @e.Photographer.FirstName @e.Photographer.LastName</td>
                        <td><a asp-page="CreateBooking" asp-route-id="@e.PhotographingEventID" class="btn btn-success">Vælg event</a></td>
                    </tr>
            }

        </tbody>
    </table>
</form>