@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Bookings.CreateBookingModel
@{
    ViewData["Title"] = "Opret Booking";
}
<h1>
    Opret booking
</h1>

<div> 
    ID: @Model.TheEvent.PhotographingEventID
</div>
<div>
    Starter: @Model.TheEvent.Start
</div>
    Ender: @Model.TheEvent.End
<div> 
    Fotografer: @Model.TheEvent.Photographer.FirstName @Model.TheEvent.Photographer.LastName
</div>
<br />

<form method="post">
    <div>
        <label asp-for="Start" class="control-label">Starter</label>
        <input asp-for="Start" class="form-control"/>
    </div>
    <div>
        <label asp-for="End" class="control-label">Ender</label>
        <input asp-for="End" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TeacherID"> Vælg en lærer </label>
        <select asp-for="TeacherID" class="form-select">
            <option value=""> Vælg en Lærer</option>
            @foreach (Teacher t in @Model.TeacherList)
            {
                <option value="@t.ID">
                    @t.FirstName @t.LastName
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedSchoolClassID"> Vælg en klasse </label>
        <select asp-for="SelectedSchoolClassID" class="form-select">
            <option value=""> Vælg en klasse</option>
            @foreach (SchoolClass s in @Model.SchoolClassList)
            {
                <option value="@s.SchoolClassID">
                    @s.ClassName
                </option>
            }
        </select>
    </div>

    <br />
    <input type="submit" value="Opret Booking" class="btn btn-success" />
    <a asp-page="ChooseEvents" class="btn btn-warning">
        Annuller
    </a>

</form>