@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Bookings.CreateBookingModel
@{
    ViewData["Title"] = "Create Booking";
}
<h1>
    Create booking
</h1>

<div> 
    ID: @Model.TheEvent.PhotographingEventID
</div>
<div>
    Start: @Model.TheEvent.Start
</div>
    End: @Model.TheEvent.End
<div> 
    Photographer: @Model.TheEvent.Photographer.FirstName @Model.TheEvent.Photographer.LastName
</div>
<br />

<form method="post">
    <div>
        <label asp-for="Start" class="control-label"></label>
        <input asp-for="Start" class="form-control"/>
    </div>
    <div>
        <label asp-for="End" class="control-label"></label>
        <input asp-for="End" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TeacherID"> Choose a Teacher </label>
        <select asp-for="TeacherID" class="form-select">
            <option value=""> Select Teacher</option>
            @foreach (Teacher t in @Model.TeacherList)
            {
                <option value="@t.ID">
                    @t.FirstName @t.LastName
                </option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SelectedSchoolClassID"> Choose a School Class </label>
        <select asp-for="SelectedSchoolClassID" class="form-select">
            <option value=""> Select School Class</option>
            @foreach (SchoolClass s in @Model.SchoolClassList)
            {
                <option value="@s.SchoolClassID">
                    @s.ClassName
                </option>
            }
        </select>
    </div>
    <br />
    <input type="submit" value="Create Booking" class="btn btn-success" />
    <a asp-page="Index" class="btn btn-warning">
        Cancel
    </a>

</form>