@page
@model SkoloFotoExam26.Pages.CreateSchoolSecretaryModel
@{
    ViewData["Title"] = "Create Photographing Event";
}

<div>
    <h2>
        Create Photographing Event
    </h2>

    <form method="post">
        <div class="form-group">
            <label asp-for ="@Model.NewPhotographingEvent.Start" class="control-label"  ></label>
            <input asp-for ="@Model.NewPhotographingEvent.Start" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="@Model.NewPhotographingEvent.End" class="control-label" ></label>
            <input asp-for ="@Model.NewPhotographingEvent.End" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.SchoolSecretaryID"></label>
            <input asp-for="@Model.SchoolSecretaryID" />
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.PhotographerID"></label>
            <input asp-for="@Model.PhotographerID" />
        </div>
        <br />
        <div>
            <input type="submit" value="Create Event" class="btn btn-primary"
        </div>

    </form>
</div>
