@page
@model SkoloFotoExam26.Pages.PhotographingEvents.DeletePhotographingEventModel
@{
    ViewData["Title"] = "Slet et Fotografering Event";
}
<h2>
    Slet Fotografering Eventet
</h2>

<form method="post">
    <div class="form-group">
        <label>Starter</label> : @Model.PhotographingEventDelete.Start<br>
        <label>Ender</label> : @Model.PhotographingEventDelete.End<br>
        <label>Fotografen</label> : @Model.PhotographingEventDelete.Photographer.FirstName @Model.PhotographingEventDelete.Photographer.LastName<br>
        <label>Sekretæren</label> : @Model.PhotographingEventDelete.SchoolSecretary.FirstName @Model.PhotographingEventDelete.SchoolSecretary.LastName<br>
    </div>
    <input type="submit" value="Slet Event" asp-route-photographingEventID="@Model.PhotographingEventDelete.PhotographingEventID" class="btn-danger" onclick="return confirm('Er du sikker på at slette fotografering eventet?')" />
</form>


<a asp-page="Index" class="btn btn-warning">
    Cancel
</a>
