@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Students.CreateStudentModel
@{
    ViewData["Title"] = "Opret barn";
}

<h1>Opret barn</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="ParentID" />

    <div class="form-group">
        <label asp-for="@Model.FirstName" class="control-label"></label>
        <input asp-for="@Model.FirstName" class="form-control" />
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.MiddleName" class="control-label"></label>
        <input asp-for="@Model.MiddleName" class="form-control" />
        <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.LastName" class="control-label"></label>
        <input asp-for="@Model.LastName" class="form-control" />
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ParentID" class="control-label"></label>
        <input asp-for="@Model.ParentID" class="form-control" />
        <span asp-validation-for="@Model.ParentID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SchoolID">Vælg en skole</label>
        <select asp-for="SchoolID" class="form-select">
            <option value="">Vælg en skole</option>
            @foreach (School s in Model.SchoolList)
            {
                <option value="@s.SchoolID">
                    @s.Name - @s.City
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SchoolClassID" class="control-label">Vælg Skoleklasse</label>
        <select asp-for="SchoolClassID" class="form-control">
            <option value="">-- Vælg en klasse --</option>
            @if (Model.SchoolClassList != null)
            {
                @foreach (var schoolClass in Model.SchoolClassList)
                {
                    <option value="@schoolClass.SchoolClassID">
                        @schoolClass.ClassName
                    </option>
                }
            }
        </select>
        <span asp-validation-for="SchoolClassID" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Opret barn" asp-route-ParentID="@Model.ParentID" class="btn btn-primary" />

        <a asp-page="Index" class="btn btn-warning">Annuller </a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}