@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Students.UpdateStudentModel
@{
    ViewData["Title"] = "Opdater barn";
}

<h1>Rediger barn</h1>

<form method="post">
    <input type="hidden" asp-for="@Model.StudentToUpdate.StudentID" />

    <div class="form-group">
        <label asp-for="@Model.StudentToUpdate.FirstName" class="control-label"></label>
        <input asp-for="@Model.StudentToUpdate.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StudentToUpdate.MiddleName" class="control-label"></label>
        <input asp-for="@Model.StudentToUpdate.MiddleName" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StudentToUpdate.LastName" class="control-label"></label>
        <input asp-for="@Model.StudentToUpdate.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StudentToUpdate.Parent.ID" class="control-label"></label>
        <input asp-for="@Model.StudentToUpdate.Parent.ID" class="form-control" />
        <span asp-validation-for="@Model.StudentToUpdate.Parent.ID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SchoolID">Vælg en skole</label>
        <select asp-for="SchoolID" class="form-select">
            <option value="">Vælg en skole</option>
            @foreach (School s in Model.SchoolList)
            {
                <option value="@s.SchoolID">
                    @s.Name - @s.City
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SchoolClassID" class="control-label">Vælg Skoleklasse</label>
        <select asp-for="SchoolClassID" class="form-control">
            <option value="">-- Vælg en klasse --</option>
            @if (Model.SchoolClassList != null)
            {
                @foreach (var schoolClass in Model.SchoolClassList)
                {
                    <option value="@schoolClass.SchoolClassID">
                        @schoolClass.ClassName (@schoolClass.School.Name)
                    </option>
                }
            }
        </select>
        <span asp-validation-for="SchoolClassID" class="text-danger"></span>
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Opdater barn" class="btn-primary" />
        <input type="submit" value="Slet barn" asp-page-handler="Delete" class="btn-danger" />
        <input type="submit" value="Anuller" asp-page-handler="Cancel" class="btn-warning" />
    </div>

</form>
